.alert-motion-leave {
  overflow: hidden;
  opacity: 1;
  transition:
    max-height 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
    opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
    padding 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.alert-motion-leave-active {
  max-height: 0 !important;
  opacity: 0 !important;
  padding-block: 0 !important;
}
.m-alert {
  padding: 8px 12px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  position: relative;
  display: flex;
  align-items: center;
  word-break: break-all;
  border-radius: 8px;
  .m-alert-icon {
    display: inline-block;
    margin-right: 8px;
    line-height: 0;
  }
  .m-big-icon {
    margin-right: 12px;
    font-size: 24px;
    line-height: 0;
  }
  .icon-img {
    display: inline-block;
    width: 14px;
    height: 14px;
  }
  .big-icon-img {
    display: inline-block;
    width: 24px;
    height: 24px;
  }
  .icon-svg {
    display: inline-block;
  }
  .m-alert-content {
    flex: 1;
    min-width: 0;
  }
  .m-alert-actions {
    margin-left: 8px;
  }
  .m-alert-close {
    margin-left: 8px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
    line-height: 12px;
    cursor: pointer;
    outline: none;
    transition: color 0.2s;
    &:hover {
      color: rgba(0, 0, 0, 0.88);
    }
    .alert-close {
      display: inline-block;
      vertical-align: bottom;
      fill: rgba(0, 0, 0, 0.45);
      transition: fill 0.2s;
      &:hover {
        fill: rgba(0, 0, 0, 0.88);
      }
    }
  }
}
.alert-default {
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid #d9d9d9;
  .m-alert-icon,
  .m-big-icon {
    color: rgba(0, 0, 0, 0.88);
    .icon-svg,
    :deep(svg) {
      fill: currentColor;
    }
  }
}
.alert-info {
  background-color: #e6f4ff;
  border: 1px solid #91caff;
  .m-alert-icon,
  .m-big-icon {
    color: @themeColor;
    .icon-svg,
    :deep(svg) {
      fill: currentColor;
    }
  }
}
.alert-success {
  background-color: #f6ffed;
  border: 1px solid #b7eb8f;
  .m-alert-icon,
  .m-big-icon {
    color: #52c41a;
    .icon-svg,
    :deep(svg) {
      fill: currentColor;
    }
  }
}
.alert-warning {
  background-color: #fffbe6;
  border: 1px solid #ffe58f;
  .m-alert-icon,
  .m-big-icon {
    color: #faad14;
    .icon-svg,
    :deep(svg) {
      fill: currentColor;
    }
  }
}
.alert-error {
  background-color: #fff2f0;
  border: 1px solid #ffccc7;
  .m-alert-icon,
  .m-big-icon {
    color: #ff4d4f;
    .icon-svg,
    :deep(svg) {
      fill: currentColor;
    }
  }
}
.alert-borderless {
  border: none;
}
.alert-width-description {
  align-items: flex-start;
  padding: 20px 24px;
  .alert-message {
    display: block;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 16px;
  }
  .alert-description {
    display: block;
  }
}
